$global-backgroundColor: #333335;

$global-CardColor-White: #ffffff;
$global-CardColor-Black: #000000;
$global-textColor : #ffffff;
$global-inputColor : #333335;



$global-titlefontsize : 1.4rem;
$global-undertitlefontsize : 1rem;
$global-textfontsize : 0.8rem;
$global-cardfontsize : 0.8rem;
