.main_avatar{
    margin-top: 4%;
    width: 100%;
}
.avatar_text{
    font-size: $global-undertitlefontsize;
    margin-bottom: 4%;
}

.avatar_grid{
    display: grid;
    grid-template-columns: 35% 35%;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    justify-content: center;
}

.avatar_icon{
    width: 100%;
}   

.avatar_submit{
    width: 40%;

    align-self: center ;

    background-color: transparent;
    border: 2px solid white;
    border-radius: 100px;

    color: $global-textColor;
    font-size: $global-textfontsize;

    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 10%;
}