.game{
    width: 100%;
    height: 100%;
}

.game_header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.game_content{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 6%;
}

.information_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4%;
    max-width: 280px;
    margin: auto;
}

.information_player{
    margin-bottom: 4%;
}

.game_content__placement{
    width: 88%;
    
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: auto;
    margin-top: 4%;
}
.placement_black{
    display: flex;
    height: 180px;
    width: 120px;
    background-color: $global-CardColor-Black;
    border-radius: 10px;

    position: relative;

}
.placement_dotted{
    display: flex;
    height: 174px;
    width: 114px;
    border-radius: 10px;
    border-style: dashed;
    border-width: -6px;
    position: relative;

}

.placement_white{
    display: flex;
    height: 180px;
    width: 120px;
    margin-right: 2%;
    background-color: $global-CardColor-White;
    border-radius: 10px;
    position: relative;
}
.cards_white{
    display: flex;
    height: 200px;
    width: 120px;
    min-width: 140px;
    margin-right: 2%;
    background-color: $global-CardColor-White;
    border-radius: 10px;
    position: relative;
}
.game_content__cards{
    overflow: hidden;
    width: 100%;
}

.cards_container{
    overflow-x: auto;
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 10%;
    padding-bottom: 2%;
}

.cards_title_black {
    color: black;
    position: absolute;
    text-align: start;
    font-size: $global-cardfontsize;
    padding: 6%;

  }
  .cards_title_white {
    color: white;
    position: absolute;
    padding: 6%;
    font-size: $global-cardfontsize;
    
  }
  
.cards_white:hover {
    transform: translateY(-20px);
    transition: 0.2s ease-out;
  }

  .game_content__submit{
      
  }