.lobby{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}   
.lobby_members{
    max-height: 200px;
    margin-bottom: 20%;
}
.lobby_member{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1% auto;
}

.lobby_buttons{
    width: 40%;
    margin: auto;
}