.login{
    width: 100%;
    height: 100%;
}

.login_content{
    background-color: black;
    width: 60%;
    margin: auto;
}
.login_input{
    width: 56%;
    height: 20%;
    max-width: 296px;

    align-self: center;

    text-align: center;
    background-color: $global-CardColor-White;
    border: none;
    border-radius: 2px;

    color:$global-inputColor;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;

    padding: 3% 2%;
    margin: 0;
}


.login_submit{
    width: 100%;
    align-self: center;
}
