.main_nickname{
    margin-top: 4%;
}
.nickname_text{
    font-size: $global-undertitlefontsize;
    margin-bottom: 4%;
}

.nickname_form{
    display: flex;
    flex-direction: column;
}

.nickname_input{
    align-self: center;
    text-align: center;
    
    width: 55%;

    border-radius: 2px;
    border: none;

    color: $global-inputColor;
    font-size: 0.8rem;
    padding: 1%;
    padding-right: 2%;
    padding-left: 2%;
}

